@page "/products"
<h3>Products</h3>

<div class="row">
  @if (AllProducts.Any())
  {
    @foreach (var product in AllProducts)
    {
      <div class="col-6 col-sm-12 col-md-6 col-lg-4 col-xl-4 mh-25 mb-4">
        <div class="card shadow-sm rounded">
          <div class="card-body">
            <h5 class="card-title"><b>@product.Name</b></h5>
            <p class="card-text">@product.Price</p>
          </div>
          <div class="card-footer text-muted">
            <span>Open: @product.Manufacturer</span>
          </div>
        </div>
      </div>
    }
  }
  else
  {
    <p>No products available</p>
  }
</div>